<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITiFenCePdfDataService" />
        <binding name="BasicHttpBinding_ITiMingCe" maxReceivedMessageSize="102400000" />
        <binding name="BasicHttpBinding_ITiFenCeService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:11524/TiMingCe.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITiMingCe" contract="TiMingCe.ITiMingCe"
        name="BasicHttpBinding_ITiMingCe" />
      <endpoint address="http://localhost:11524/TiFenCeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITiFenCeService"
        contract="TiFenCeService.ITiFenCeService" name="BasicHttpBinding_ITiFenCeService" />
      <endpoint address="http://localhost:11524/TiFenCePdfDataService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITiFenCePdfDataService"
        contract="TiFenCePdfDataService.ITiFenCePdfDataService" name="BasicHttpBinding_ITiFenCePdfDataService" />
    </client>
  </system.serviceModel>
</configuration>