
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>Index</h2>


<input type="text" value="" style="width: 400px; height: 150px;"/>
<input type="button" id="submitModel"/>

<script type="text/javascript">
    $("#submitModel").click(function () {
       
    });
    
</script>